BASE_API="https://practice.expandtesting.com/notes/api"
HEALTH_CHECK_ENDPOINT="/health-check"
USER_REGISTER_ENDPOINT="/users/register"
USER_LOGIN_ENDPOINT="/users/login"
USER_DELETE_ENDPOINT="/users/delete-account"
USER_PROFILE_ENDPOINT="/users/profile"
USER_LOGOUT_ENDPOINT="/users/logout"
NOTES_ENDPOINT="/notes"
NAME="test name"
EMAIL="mytestemailmirzayev@gmail.com"
PASSWORD="password1234"
PHONE="123456789"
COMPANY="Test Company"
